  <h1 style= "background-color:darkcyan; text-align: center; margin-top: 10px;">Warehouse</h1>
  <br>
  <br>
  <button nz-button nzType= "primary" (click)= "openComponent()">Add New Warehouse</button>
  <br>
  <br>

  <!-- <button (click)= "GetWarehouse()">Get All Locations</button> -->
  
  <nz-table style="width: 100%;" [nzData]= "apiList">
    <thead>
      <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let item of apiList">
        <td>{{ item.warehouse_Id }}</td>
        <td>{{ item.warehouse_location }}</td>

        <td>
          <button  style="margin-left: 10px; color: beige; background-color: coral;" type="button" (click)= "editWarehouse(item)">Edit</button>
          <button style="margin-left: 10px; color: beige; background-color: rgb(192, 49, 49);" type="button" (click)= "DeleteWarehouse(item.warehouse_Id)">Delete</button>
        </td>

        <!-- <td>
          <a (click)= "editWarehouse(item)" >EDIT一 {{item.warehouse_location}} </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)= "DeleteWarehouse(item.warehouse_Id)">DELETE</a>
        </td> -->

      </tr>
    </tbody>
  </nz-table>