<h1 style= "background-color:darkcyan; text-align: center; margin-top: 10px;">INVENTORY</h1>

<br>
<br>

<input nzShowSearch nz-input placeholder="Search for item" [(ngModel)]= "searchTerm" (ngModelChange)= "searchItem()">

<br>
<br>

<button nz-button nzType="primary" (click)= "openComponent()">Add New Item</button>

<br>
<br>

<nz-table style="width: 100%;" [nzData]="apiList">
  <thead>
    <tr>
      <th style="text-align: center;">Item Image</th>
      <th style="text-align: center;">Item Name</th>
      <!-- <th style="text-align: center;">Item Description</th> -->
      
      <th style="text-align: center;">Item Category</th>
      <th style="text-align: center;">In Stock</th>
      <th style="text-align: center;">Cost Price</th>
      <th style="text-align: center;">Selling Price</th>
      
      <th style="text-align: center;">Edit</th>
      <th style="text-align: center;">Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of apiList">

       
      
        <td>
          <img [src]= "item.imageurl" style="width: 75px; height: 100px;">
        </td>
        
      
        <td style="text-align: center;">{{ item.item_name }}</td>
        <!-- <td>{{ item.description }}</td> -->
        <td style="text-align: center;">{{item.itemcategory}}</td>
        <td style="text-align: center;">{{ item.stockquantity }}</td>
        <td style="text-align: center;">{{ item.cost_price}}</td>
        <td style="text-align: center;">{{ item.sell_price}}</td>

        <td>
          <button nz-icon nzType="edit" nzTheme="twotone"  (click)= "EditItem(item)"></button>
        </td>

        <td>
          <button nz-icon nzType="delete" nzTheme="twotone" (click)= "DeleteItem(item.item_Id)"></button>
          <!-- <button style="margin-left: 10px; color: beige; background-color: rgb(192, 49, 49);" type="button" (click)= "DeleteItem(item.item_Id)">Delete</button> -->
        </td>
        

        <!-- <td>
          <a (click)="EditItem(item)">EDIT一{{item.item_name}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="DeleteItem(item.item_Id)">DELETE</a>
        </td> -->
      

    </tr>
  </tbody>
</nz-table>
