<h1 style="background-color:rgb(192, 86, 174); text-align: center; margin-top: 10px;">ITEMS</h1>

<br>
<br>

<input nz-input placeholder="Search for item" [(ngModel)]= "searchTerm" (ngModelChange)= "searchItem()">

<br>
<br>

<button nz-button nzType="primary" (click)= "openComponent()">Add New Item</button>

<br>
<br>

<nz-table style="width: 100%;" [nzData]="apiList">
  <thead>
    <tr>
      <th style="text-align: center;">Item Image</th>
      <th style="text-align: center;">Item Name</th>
      <th style="text-align: center;">Item Description</th>
      <th style="text-align: center;">Item Category</th>
      <th style="text-align: center;">Cost Price</th>
      <th style="text-align: center;">Selling Price</th>
      
      <th style="text-align: center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of apiList">
      <td>
        <img [src]="imageUrl" style="width: 75px; height: 100px;">
      </td>
      <td style="text-align: center;">{{ item.item_name }}</td>
      <td>{{ item.description }}</td>
      <td style="text-align: center;">{{item.itemcategory}}</td>
      <td style="text-align: center;">{{ item.cost_price}}</td>
      <td style="text-align: center;">{{ item.sell_price}}</td>
      

      <td>
        <a (click)="EditItem(item)">EDIT一{{item.item_name}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="DeleteItem(item.item_Id)">DELETE</a>
      </td>

    </tr>
  </tbody>
</nz-table>
