    <form nz-form [formGroup]="AdminForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" >Name</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input type="text" formControlName="AdminName" placeholder="Full Name">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" >Username</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input type="text" formControlName="Username" placeholder="Username">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>

        <nz-form-label [nzSpan]="8" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <input nz-input type="text" formControlName="AdminPassword" placeholder="Password">
        </nz-form-control>
      </nz-form-item>
      <div class="button-container">
        <button nz-button [nzType]= "'primary'">Submit</button>
      </div>
    </form>