<h1 style= "background-color:rgb(171, 110, 199); text-align: center; margin-top: 10px;">ORDERS</h1>
<br>
<br>
<button nz-button nzType= "primary" (click)= "openComponent()">Add New Order</button>
<br>
<br>

<nz-table style="width: 100%;" [nzData]= "apiList" [nzData]= "apiList2">
  <thead>
    <tr>
      <th style="text-align: center;">Order ID</th>
      <th style="text-align: center;">Item Name</th>
      <th style="text-align: center;"> Order Quantity</th>
      <th style="text-align: center;"> Status</th>
      <th style="text-align: center;">Order Date</th>
      <th style="text-align: center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let item of apiList">
      <td style="text-align: center;">{{item.order_Id}}</td>
      <td style="text-align: center;">{{ item.itemname}}</td>
      <td style="text-align: center;">{{ item.orderQuantity }}</td>
      <td style="text-align: center;">{{ item.status }}</td>
      <td style="text-align: center;">{{ item.orderDate }}</td>
      
      <td>
        <a (click)= "EditOrder(item)" >EDIT</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)= "DeleteOrder(item.order_Id)">DELETE</a>
      </td>

    </tr>
  </tbody>
</nz-table>