  <!-- <h1 style="background-color:rgb(55, 133, 94); text-align: center; margin-top: 10px;">Admin</h1>
  <br>
  <br>
  <button nz-button nzType="primary" (click)= "openComponent()">Add Admin</button>
  <br>
  <br>
  
  <nz-table style="width: 100%;" [nzData]= "apiList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>

    </thead>
    
    <tbody>
      <tr *ngFor= "let item of apiList">
        <td >{{ item.name }}</td>
        <td >{{ item.username }}</td>
        <td >{{ item.password }}</td>

        <td>
          <a (click)= "editUser(item)">EDIT一 {{item.name}}</a>
        </td>
      </tr>
    </tbody>
  </nz-table> -->

  <h1 style="background-color:rgb(55, 133, 94); text-align: center; margin-top: 10px;">Admin</h1>

  <nz-card style="display: flex; flex-wrap: wrap;">

    
    <button nz-button nzType="primary" (click)= "openComponent()">Add Admin </button>

    <div nz-row>
        <div *ngFor="let item of apiList; index as i" class="card" nz-col nzSpan="8">
            
            <br>
            <h2>Name: {{item.name }}</h2>
            <nz-card style="margin:0px; border-color: rgb(28, 4, 85); margin-right: 250px; width: 250px;" class="nzCard">
                <span>
                    <p><strong>Id:</strong> {{item.a_Id}}</p>
                    <p><strong>User Name:</strong> {{item.username}}</p>
                    <p><strong>Password:</strong> {{item.password}}</p>
                </span>
                <button nz-button nzType="primary" style="float: right;" (click)= "editUser(item)">Edit</button>
            </nz-card>  
        </div>    
    </div>
</nz-card>