<form nz-form [formGroup]= "OrderForm" >
    <nz-form-item>
      <nz-form-label [nzSpan]="8" >Order Date </nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="date" formControlName="OrderDate" placeholder="Date of Order">
      </nz-form-control>
    </nz-form-item>

    <!-- //DropDown -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8" >Order Status</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select  formControlName="Status" nzPlaceHolder="Choose Option">
          <nz-option *ngFor= "let status of OrderStatus" [nzLabel]= "status" [nzValue]= "status"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>



    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index">
        <div [formGroupName]="i">

          <nz-form-item>
            <nz-form-label [nzSpan]="8">Item Category</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-select formControlName="category" nzPlaceHolder="Choose Option">
                <nz-option *ngFor= "let I of UniqueItemCategories" [nzLabel]= "I"  [nzValue]= "I"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8">Item Name </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-select formControlName="name" nzPlaceHolder="Choose Option">
                <nz-option *ngFor= "let I of getfitem(i)"  [nzLabel]="I.item_name + ('= ') + ' (' + I.sell_price + ')' + (' RS')"  [nzValue]= "I.item_name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8" >Item Quantity</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input nz-input type="number" formControlName="quantity" placeholder="Qauntity" min="1" max="{{getstock(i)}}">
            </nz-form-control>
          </nz-form-item>
          
        </div>
      </div>
    </div>

   <button  nz-icon nzType="plus-circle" nzTheme="fill" style="margin-left: 225px; text-align: left; background-color: rgb(204, 31, 66); color: rgba(255, 255, 255, 0.959);" (click)="addItem()">Item</button>
    
      
      
    <br>
    <br>
    <div class="button-container">
      <br>
      <br>
      <button [disabled]= "OrderForm.invalid" nz-button (click)= "submit()">Submit</button>
    </div>
  </form>